* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    background-color: grey;
}

main {
    background-color: white;
}


footer {
    background-color: white;
}

.container {
    padding: 0 30px;
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
}


/* Escopo da navbar */

.navbar {
    border-top: 10px rgb(255, 196, 0) solid;
    box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.418);
    -webkit-box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.418);
    -moz-box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.418);
}

.navbar-brand {
    font-size: 50px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.726);
}

.navbar-brand > span {
    display: block;
    font-size: 17px;
    font-weight: 700;
    text-align: center;
    color: rgba(0, 0, 0, 0.726);
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-nav > a{
    font-size: 20px;
    font-weight: 400;
    margin: 20px;
}

/* Escopo das imagens alternativas */

.text-yellow {
    position: absolute;
    width: 550px;
    height: 550px;
    background-color: rgb(255, 196, 0);
    border-radius: 50%;
    z-index: 999;
    margin: 80px;
}

.text-yellow > p {
    padding-top: 120px;
    padding-left: 90px;
    font-weight: 600;
    color: rgb(68, 68, 68);
}

.text-yellow > h1 {
    font-weight: 600;
    padding-left: 50px;
    max-width: 600px;
    font-size: 55px;
    color: rgb(68, 68, 68);
}

.text-yellow h3 {
    font-size: 28px;
    max-width: 412px;
    padding-left: 130px;
    color: rgb(68, 68, 68);
}

.text-btn {
    text-align: center;
    margin-top: 25px;
}

.text-btn > button {
    width: 220px;
    height: 40px;
    border: none;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 20px;
    transition: .2s;
}

.text-btn > button:hover {
    width: 240px;
    height: 45px;
    font-size: 17px;
}

.text-btn > i {
    display: block;
    height: 12px;
    font-weight: 600;
}


.carousel > .carousel-indicators > button {
    width: 25px;
    height: 25px;   
    border-radius: 50%;
    margin: 5px;
}

.carousel-inner > .carousel-item > img {
    position: relative;
    height: 650px;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 88% 100%, 0% 70%);
}

/* Escopo da Areá Links  */

.container > p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: rgb(68, 68, 68);
}

.container > p > span {
    display: block;
    width: 258px;
    height: 46px;
    padding-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: left;
    color: rgb(68, 68, 68);
}


.courses-img {
    background: #FFF9F9;
    width: 134px;
    height: 134px;
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    
}

.col > .courses-img {
    margin-left: 60px;
}

.text-area > h4 {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    color: rgba(255, 207, 0, 1);
}

.text-area > p > span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    color: rgb(68, 68, 68);
}

.text-area > p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    margin-bottom: 5px;
    color: rgb(68, 68, 68);
}

/* Estilo da areá de ingresso */

.ingresso-area {
    margin-top: 20px;
}

.ingresso-area h4 {
    margin-top: 28px;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 18px;
}

.ingresso-area span {
    display: block;
    font-size: 30px;
    font-weight: 700;
    color: rgb(68, 68, 68);
}

.ingresso-area p {
    max-width: 350px;
    font-size: 15px;

}

.ingresso-area .fundo {
    margin-left: 15px;
    width: 100%;
    padding-bottom: 15px;
    background-color: rgba(56, 56, 56, 0.74);
}

.ingresso-area ul {
    padding-left: 20px;
}


.ingresso-area .fundo > p {
    font-size: 20px;
    font-weight: 400;
    color: #FFF9F9;
    padding: 15px;
}

.ingresso-area .fundo span {
    color: #FFF9F9;
    height: 30px;
}

.ingresso-area .fundo > .video > iframe{
    width: 100%;
    height: 500px;
}


/* Escopo dos cards */

.cards > p {
    margin-top: 40px;
    margin-bottom: 0;
    width: 126px;
    height: 18px;

}

.cards > h4 {
    width: 190px;
    height: 46px;
    font-size: 40px;
    color: rgb(68, 68, 68);
}

.cards .card {
    border: none;
    border-radius: 0;
    margin-bottom: 60px;
    width: 25rem;
}

.cards .card > .card-img-top {
    border: none;
    border-radius: 0;
}

.cards .card > .card-body {
    padding: 0;
    max-width: 320px;
}

.cards > .linha {
    border: 1px solid black;
}

/* Escopo do rodapé */

footer > .rodape {
    padding-top: 35px;
    text-align: center;
    padding-bottom: 10px;
}

footer > .rodape > p {
    padding-top: 10px;
}

/* Dispositivos Moveis */

@media only screen and (max-width: 800px) {
    .text-yellow, .text-yellow > p, .text-yellow > h1, .text-yellow h3 {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .cards .card {
        width: 300px;
    }
}



